@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: oklch(0.994 0 0);
    --foreground: oklch(0 0 0);
    --card: oklch(0.994 0 0);
    --card-foreground: oklch(0 0 0);
    --popover: oklch(0.9911 0 0);
    --popover-foreground: oklch(0 0 0);
    --primary: oklch(0.5393 0.2713 286.7462);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.954 0.0063 255.4755);
    --secondary-foreground: oklch(0.1344 0 0);
    --muted: oklch(0.9702 0 0);
    --muted-foreground: oklch(0.4386 0 0);
    --accent: oklch(0.9393 0.0288 266.368);
    --accent-foreground: oklch(0.5445 0.1903 259.4848);
    --destructive: oklch(0.629 0.1902 23.0704);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.93 0.0094 286.2156);
    --input: oklch(0.9401 0 0);
    --ring: oklch(0 0 0);
    --radius: 1.4rem;
    --chart-1: oklch(0.7459 0.1483 156.4499);
    --chart-2: oklch(0.5393 0.2713 286.7462);
    --chart-3: oklch(0.7336 0.1758 50.5517);
    --chart-4: oklch(0.5828 0.1809 259.7276);
    --chart-5: oklch(0.559 0 0);
    --sidebar: oklch(0.9777 0.0051 247.8763);
    --sidebar-foreground: oklch(0 0 0);
    --sidebar-primary: oklch(0 0 0);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9401 0 0);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(0.9401 0 0);
    --sidebar-ring: oklch(0 0 0);
    --font-sans: Plus Jakarta Sans, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.16;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 2px;
    --letter-spacing: -0.025em;
    --spacing: 0.27rem;
    --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
    --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
    --shadow-sm: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
      0px 1px 2px -1px hsl(0 0% 0% / 0.16);
    --shadow: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
      0px 1px 2px -1px hsl(0 0% 0% / 0.16);
    --shadow-md: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
      0px 2px 4px -1px hsl(0 0% 0% / 0.16);
    --shadow-lg: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
      0px 4px 6px -1px hsl(0 0% 0% / 0.16);
    --shadow-xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
      0px 8px 10px -1px hsl(0 0% 0% / 0.16);
    --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.4);
    --tracking-normal: -0.025em;
  }

  .dark {
    --background: oklch(0.2223 0.006 271.1393);
    --foreground: oklch(0.9551 0 0);
    --card: oklch(0.2568 0.0076 274.6528);
    --card-foreground: oklch(0.9551 0 0);
    --popover: oklch(0.2568 0.0076 274.6528);
    --popover-foreground: oklch(0.9551 0 0);
    --primary: oklch(0.6132 0.2294 291.7437);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.294 0.013 272.9312);
    --secondary-foreground: oklch(0.9551 0 0);
    --muted: oklch(0.294 0.013 272.9312);
    --muted-foreground: oklch(0.7058 0 0);
    --accent: oklch(0.2795 0.0368 260.031);
    --accent-foreground: oklch(0.7857 0.1153 246.6596);
    --destructive: oklch(0.7106 0.1661 22.2162);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3289 0.0092 268.3843);
    --input: oklch(0.3289 0.0092 268.3843);
    --ring: oklch(0.6132 0.2294 291.7437);
    --chart-1: oklch(0.8003 0.1821 151.711);
    --chart-2: oklch(0.6132 0.2294 291.7437);
    --chart-3: oklch(0.8077 0.1035 19.5706);
    --chart-4: oklch(0.6691 0.1569 260.1063);
    --chart-5: oklch(0.7058 0 0);
    --radius: 1.4rem;
    --sidebar: oklch(0.2011 0.0039 286.0396);
    --sidebar-foreground: oklch(0.9551 0 0);
    --sidebar-primary: oklch(0.6132 0.2294 291.7437);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.294 0.013 272.9312);
    --sidebar-accent-foreground: oklch(0.6132 0.2294 291.7437);
    --sidebar-border: oklch(0.3289 0.0092 268.3843);
    --sidebar-ring: oklch(0.6132 0.2294 291.7437);
    --font-sans: Plus Jakarta Sans, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.16;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 2px;
    --letter-spacing: -0.025em;
    --spacing: 0.27rem;
    --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
    --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
    --shadow-sm: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
      0px 1px 2px -1px hsl(0 0% 0% / 0.16);
    --shadow: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
      0px 1px 2px -1px hsl(0 0% 0% / 0.16);
    --shadow-md: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
      0px 2px 4px -1px hsl(0 0% 0% / 0.16);
    --shadow-lg: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
      0px 4px 6px -1px hsl(0 0% 0% / 0.16);
    --shadow-xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
      0px 8px 10px -1px hsl(0 0% 0% / 0.16);
    --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.4);
  }
  .theme {
    --font-sans: Plus Jakarta Sans, sans-serif;
    --font-mono: IBM Plex Mono, monospace;
    --font-serif: Lora, serif;
    --radius: 1.4rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@theme inline {
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1
    var(--delay, 0ms);

  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.4;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
